/*== Colors ==*/
$white: #fff;
$black: #000;
$gray: #495057;

/*== Fonts ==*/
$font-family-base: 'Nunito', sans-serif  !default;
$font-weight-normal:          300  !default;
$font-weight-bold:            600 !default;
$font-size-base:              1.5rem !default; // Assumes the browser default, typically `16px`

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
$headings-font-weight:        $font-weight-bold !default;
$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;

/*== Spacing ==*/
$space-base: 20px;
$space-small: $space-base / 2;
$space-large: $space-base * 2;

/*== Components ==*/
$border-radius-base:      .3rem;
$border-radius-small:     $border-radius-base / 2;
$border-radius-large:     $border-radius-base * 1.5;

/*== Breakpoints (Refer Boostrap 4) ==*/
$phone: 576px;
$table: 768px;
$desktop: 1200px;

/*== Base styles settings ==*/
$body-color: $gray;
$body-bg: $white;
$paragraph-margin-bottom:   1rem !default;
$headings-margin-bottom:    ($space-base / 2) !default;