- var data = techStacks || {}

section.text-center.about
  div.container
    h1.title huyb1991
    p Anonymous developer who have started coding since 2010
    p Familiar with:
    div.flex.flex--center
      each item in Object.keys(data)
        a(class='tech tech--large', href=data[item].url, title=data[item].name)
          img(alt=data[item].name, src=data[item].img)
