- var title = "Huy's Website - Anonymous Developer"
- var description = "Huy Nguyen Website - Anonymous developer who have started coding since 2010"

head
  title= title
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width', initial-scale=1)
  meta(name='robots', content='index, nofollow')
  meta(name='description', content=description)
  link(rel='icon', href='/img/favicon.ico')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:300,600')
  link(rel='stylesheet', href='/styles.css')